$corDeTexto: #F0F8FF;
$corDeTextoSecundario: #e7e1e1;
$corDoBotao: #191970;
$corDeFundoInfo: #202b31;
$corOverlay: #000;

$gradiente1: #3c5d72;
$gradiente2: #50955c;
$gradiente3: #4542ff;
$gradiente4: #050425;